<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="thisShit">
    <div>
        sup pup
        <ul>
            <li>
                <a href="/signUp">signUp</a>
            </li>
            <li>
                <a href="/login">login</a>
            </li>
        </ul>
    </div>
    {{{body}}}
</body>
</html>